*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.BG{
    width: 100%;
    height: 100vh;
    background: linear-gradient(blue, white);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.bg-logim > img{
    border: 2px solid white;
    border-radius: 53px;
    width: 97px;
    height: 97px;
}
.bg-logim > p{
    font-size: 34px;
    border-bottom: 7px solid rgb(235, 252, 2);
}
.bg-logim{
    margin-top: 116px;
    color: white;
    font-size: 33px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    text-align: center;
}

.bg-logim input{
    width: 138px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    cursor: pointer;
}
.bg-logim a{
    
    text-decoration: none;
}
.roda-pe{
    display: block;
    justify-content: center;
    display: flex;
    margin-top: 166px;
}
.txt{
    color: rgb(175, 175, 177);
    font-size: 18px;
    margin-top: 6px;
    
}
.roda-pe > img{
    
    width: 144px;
    height: 44px;
}

/******** RESPONSIVO **********/
@media screen and (max-width: 1000px) {
    .bg-logim{
        border: 0;
        padding: 0 50px;
        font-size: 33px;   
    }   
}
@media screen and (max-width: 380px) {
    .bg-logim{
        padding: 0 50px;
        font-size: 25px;   
    }
    .txt{
        text-align: right;
        margin-top: -5px;
    }  
}
/****************************************** VITRINE *****************************************/
.vitrine{
    display: flex;
    background-color: brown;
    width: 100%;
    height: 765px;
}
.container{
    margin: 20px 33px;
}
.loja > img{
    border-radius: 13px;
    width: 25rem;
    height: 488px;
}