*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.BG{
    width: 100%;
    height: 100vh;
    background: linear-gradient(blue, rgb(133, 189, 252));
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.bg-logim > img{
    border: 2px solid white;
    border-radius: 53px;
    width: 97px;
    height: 97px;
}
.bg-logim > p{
    font-size: 34px;
    border-bottom: 7px solid rgb(235, 252, 2);
}
.bg-logim > h2{
    margin-top: 20px;
}
.bg-logim{
    margin-top: 76px;
    color: white;
    font-size: 33px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    text-align: center;
}

.bg-logim input{
    width: 138px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    cursor: pointer;
}
.bg-logim a{
    
    text-decoration: none;
}
.roda-pe{
    display: block;
    justify-content: center;
    display: flex;
    margin-top: 166px;
}
.txt{
    color: rgb(84, 84, 85);
    font-size: 18px;
    margin-top: 6px;
    
}
.roda-pe > img{
    width: 144px;
    height: 44px;
}

/******** RESPONSIVO **********/
@media screen and (max-width: 1000px) {
    .bg-logim{
        border: 0;
        padding: 0 50px;
        font-size: 33px;   
    }   
}
@media screen and (max-width: 460px) {
    .roda-pe{
        align-items: center;
        width: 196px;
        margin-left: auto;
        margin-right: auto;
    }
    .txt{
        font-size: 13px;
        text-align: right;
        margin-top: -13px;
    }
    .roda-pe > img{
        width: 104px;
        height: 44px;
    }    
}
@media screen and (max-width: 380px) {
    .bg-logim{
        padding: 0 50px;
        font-size: 25px;   
    }
      
}
/****************************************** VITRINE *****************************************/
.vitrine{
    background-color: rgb(211, 209, 209);
    width: 100%;
    height: 565px;
}
.vitrine-box{
    text-align: center;
    padding: 20px 0;
    background-color: aqua;
}
.container{
    margin: 0 33px;
}
.loja > img{
    border-radius: 13px;
    width: 25rem;
    height: 488px;
}
