*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{ text-decoration: none; }
.clear{ clear: both ;}
/**********************************/
.BG{
    width: 100%;
    height: 100vh;
    background: linear-gradient(blue, rgb(133, 189, 252));
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.bg-logim > img{
    border: 2px solid white;
    border-radius: 53px;
    width: 97px;
    height: 97px;
}
.bg-logim > p{
    font-size: 34px;
    border-bottom: 7px solid rgb(235, 252, 2);
}
.bg-logim > h2{
    margin-top: 20px;
    border-bottom: 7px solid rgb(235, 252, 2);
}
.bg-logim{
    margin-top: 76px;
    color: white;
    font-size: 33px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    text-align: center;
}

.bg-logim input{
    width: 138px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    cursor: pointer;
}
.bg-logim a{
    
    text-decoration: none;
}
.roda-pe{
    display: block;
    justify-content: center;
    display: flex;
    margin-top: 166px;
}
.txt{
    color: rgb(84, 84, 85);
    font-size: 18px;
    margin-top: 6px;
    
}
.roda-pe > img{
    width: 144px;
    height: 44px;
}
footer{
    text-align: center;
    padding: 30px 0;
    background: linear-gradient(rgb(248, 207, 132), orange);
}

/******** RESPONSIVO **********/
@media screen and (max-width: 1000px) {
    .bg-logim{
        border: 0;
        padding: 0 50px;
        font-size: 33px;   
    }   
}
@media screen and (max-width: 460px) {
    .roda-pe{
        align-items: center;
        width: 296px;
        margin-left: auto;
        margin-right: auto;
    }
    .txt{
        font-size: 14px;
        text-align: right;
        margin-top: -13px;
    }

    footer{
        width: 100%;
        text-align: center;
    }   
    .footer-txt{
        font-size: 13px;
    } 
}
@media screen and (max-width: 380px) {
    .bg-logim{
        padding: 0 50px;
        font-size: 25px;   
    }
}
/****************************************** VITRINE *****************************************/
.vitrine{
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: rgb(220, 221, 221);
}
.vitrine-box{
    padding: 5px 0 60px 20px;
    background: linear-gradient(orange, rgb(245, 190, 89));
}
.vitrine-box a{
    padding: 0 20px;
    color: white;
}
/************************************/
.container{
    margin: 0 50px;
}
.container h2{
    text-align: center;
    padding: 10px 0;
    font-weight: initial;
}
/***********************************/

.produto{
    border: 6px solid #ccc;
    float: left;
    margin-bottom: 13px;
    width: 25%;
    height: 473px;
    background-color: rgb(245, 242, 242);
}
.produto .foto{
    border-radius: 166px;
    margin: 5px 0 3px 10px;
    width:  49px;
    height: 49px;
}
.foto > span{
    margin-top: -30px;
    color: aqua;
}
.produto > img{
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    width: 100%;
    height: 282px;
}
.produto > h3{
    height: 54px;
    font-weight: bolder;
    font-size: 12px;
    margin: 0 8px;
    border-bottom: 2px solid #ccc;
}
.produto .btn-1{
    height: 28px;
    width: 40%;
    display: inline-block;
    margin-left: 33px;
    font-size: 13px;
    cursor: pointer;
}
.produto .btn-2{
    height: 28px;
    width: 22%;
    display: inline-block;
    margin: 11px 17px;
    font-size: 13px;
    cursor: pointer;
}
@media screen and (max-width: 940px) {
    .container{ margin: 0 9px; }

    .produto{
        margin: 3px;
        width: 24%;
        height: 372px;
    }
    .produto > img{
        width: 100%;
        height: 203px;
    }
    .produto > h3{
        height: 44px;
        font-size: 11px;
    }
    .produto .btn-1{
        margin-left: 13%;
        font-size: 11px;
    }
}
@media screen and (max-width: 725px) {
    .produto{
        width: 32%;
    }

    
}
@media screen and (max-width: 570px) {
    .vitrine-box a{
        padding: 0 10px;
        color: white;
    }
    .loja{
        margin-left: auto;
    }
    .container{
        margin: 0 14px;
    }
    .produto{
        margin-top: 20px;
        margin-left: 13px;
        margin-bottom: -8px;
        width: 90%;
        height: auto;
    }
    .produto > h3{
        height: auto;
        font-size: 10px;
    }
    .produto .btn-1{
        height: 28px;
        width: 40%;
        display: inline-block;
        margin-left: 33px;
        font-size: 13px;
        cursor: pointer;
    }
}
